<div  ng-controller="ModalController as vm" ng-show="vm.Login.modalOpen">

  <!--Opaque Background-->
  <div class="modal-container" ng-click="vm.Login.toggleModal(); $event.stopPropagation();">

  </div>


  <!--Modal-->
  <div class="modal">

    <!--Header-->
    <div class="modal-header">
      <div class="modal-close" ng-click="vm.Login.toggleModal()">
        X
      </div>
    </div>


    <!--Singin / Singup Buttons-->
    <div class="modal-selector" id="signin" ng-click="vm.selectSignIn()">
      <span class="modal-selector-text">Sign In</span>
      <hr>
    </div>
    <div class="modal-selector" id="signup" ng-click="vm.selectSignUp()">
      <span class="modal-selector-text">Sign Up</span>
    </div>


    <!--Inputs-->
    <form name="login" action="">
      
      <!--E-Mail-->
      <div class="modal-input-container" id="email" ng-class="{valid: vm.Login.validEmail && login.emailInput.$dirty, invalid: !vm.Login.validEmail && vm.Login.user.email.length > 0}">
        <label for="emailInput">E-Mail Address</label>
        <input type="text" name="emailInput" id="emailInput" ng-model="vm.Login.user.email" ng-change="vm.Login.validateEmail()" ng-focus="vm.focusInput('email')" ng-blur="vm.blurInput('email')">
      </div>

      <!--Password-->
      <div class="modal-input-container" id="password" ng-class="{valid: vm.Login.validPassword && login.passwordInput.$dirty, invalid: !vm.Login.validPassword && vm.Login.user.password.length > 0}">
        <!--if signup password reqs-->
        <div class="email-validator" ng-show="signup && login.passwordInput.$dirty && vm.Login.user.password.length > 0">
          <span ng-class="{good: vm.Login.password.abc}">abc </span>
          <span ng-class="{good: vm.Login.password['123']}">123 </span>
          <span ng-class="{good: vm.Login.password.special}">!@#$%&* </span>
        </div>
        <label for="passwordInput">Password</label>
        <input type="password" name="passwordInput" id="passwordInput" ng-model="vm.Login.user.password" ng-change="vm.Login.validatePassword()" ng-focus="vm.focusInput('password')" ng-blur="vm.blurInput('password')">
      </div>

      <!--Confirm Password if signup-->
      <div class="modal-input-container" ng-show="signup" id="passwordConfirm" ng-class="{valid: login.passwordConfirmInput.$dirty && vm.Login.user.password === vm.Login.user.passwordConfirm, invalid: vm.Login.user.passwordConfirm.length > 0 && vm.Login.user.password !== vm.Login.user.passwordConfirm}">
        <label for="passwordConfirmInput">Confirm Password</label>
        <input type="password" name="passwordConfirmInput" id="passwordConfirmInput" ng-model="vm.Login.user.passwordConfirm" ng-focus="vm.focusInput('passwordConfirm')" ng-blur="vm.blurInput('passwordConfirm')">
      </div>

      
      <input type="submit" value="Sign In" class="btn" ng-show="!signup">
      <input type="submit" value="Sign Up" class="btn" ng-show="signup">

    </form>

  <!--End Modal-->
  </div>


</div>