.modal-container {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}

.modal {
  height: 400px;
  width: 300px;
  background: linear-gradient(135deg, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  display: block;
  margin: auto;
  font-size: 0;
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(244, 244, 244, .7)
}

.modal-header {
  height: 50px;
}

.modal-close {
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;  
  position: absolute;
  left: 270px;
  box-shadow: 0 0 5px darkgray;
  text-align: center;
}

.modal-selector {
  width: 50%;
  height: 40px;
  text-align: center;
  display: inline-block;
  background-color: white;
  margin-bottom: 20px;
}

.modal-selector-text {
  font-size: 13px;
  line-height: 40px;
}

.modal-input-container {
  width: 200px;
  height: 40px;
  background-color: white;
  font-size: 14px;
  margin: 15px auto;
  position: relative;
  border-radius: 5px;
  padding: 0;
}

.modal-input-container input {
  height: 94%;
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 3px;
  border: none;
  padding-top: 12px;
}

.modal-input-container input:focus {
  outline-width: 0;
}

.modal-selector hr {
  border: none;
  background: linear-gradient(to bottom, #ffffff 0%,#2989d8 70%,#7db9e8 100%);
  position: absolute;
  top: 62px;
  width: 50%;
  height: 8px;
  left: 0;
  transition: all ease 200ms;  
}

.modal-selector-selected hr {
  left: 50%;
  transition: all ease 200ms;
}

.input-selected {
  box-shadow: 0 0 10px blue;
}


.modal-input-container label {
  color: lightgrey;
  font-weight: normal;
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 100;
  transition: all ease 500ms;
}

.input-selected label{
  top: 2px;
  left: 5px;
  color: black;
  font-size: 12px;
  font-weight: 425;
  transition: all ease 500ms;
}

.modal .btn {
  margin: 10px auto;
  display: inherit;
}

.btn {
  font-size: 14px;
  color: white;
  background-color: rgb(66, 191, 244);
}

/* Makes the background of google autofill white*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}